.hero {
  padding-top: 112px;
  color: var(--white-text-color);
}

.hero__pretitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--grey60-text-color);

  margin-bottom: 20px;
}

.hero__title {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 48px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--white-text-color);

  margin-bottom: 20px;
}

.hero__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  color: var(--grey-text-color);
}

.hero-buttons {
  display: none;
}
