.about-us {
  padding: 84px 0px;
  @include for-tablet-up {
    padding: 100px 0px;
  }
}

.about-us__list {
  display: none;
  @include for-tablet-up {
    display: block;
  }
  @include for-desktop-up {
    display: flex;
  }
}

.about-us__content-pretitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--title-text-color);

  display: flex;
  align-items: center;
  margin-bottom: 20px;

  &::before {
    @include pseudo;
  }
}

.about-us__content-title {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--title-text-color);
  margin-bottom: 20px;
}

.about-us__content-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  color: var(--content-text-color);
  margin-bottom: 20px;
}

.about-us__content-description {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.85;
  letter-spacing: 0.02em;
  color: var(--content-text-color);
  margin-bottom: 40px;
}

.about-us__content-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--title-text-color);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 40px;
  border: 1px solid var(--border-color-accent);
  border-radius: 25px;
}

.about-us__thumb {
  @include for-tablet-up {
    width: 330px;
    height: 235px;
  }
  @include for-desktop-up {
    width: 270px;
    height: 445px;
  }
}

.about-us__item:not(:last-child) {
  margin-bottom: 30px;
  @include for-desktop-up {
    margin-bottom: 0px;
    margin-right: 30px;
  }
}

.container-about-us__flex {
  display: flex;
}

.about-us__content {
  margin-left: 30px;
  @include for-desktop-up {
    margin-left: 64px;
  }
}

.about-us__thumb__img-primary {
  width: 330px;
  height: 235px;
  background-image: url(/images/about_us/aboutus1-tablet@1x.jpg);
  background-size: 330px 235px;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(/images/about_us/aboutus1-tablet@2x.jpg);
  }

  @include for-desktop-up {
    width: 270px;
    height: 445px;
    background-image: url(/images/about_us/aboutus1-pc@1x.jpg);
    background-size: 270px 445px;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/images/about_us/aboutus1-pc@2x.jpg);
    }
  }
}

.about-us__thumb__img-secondary {
  width: 330px;
  height: 235px;
  background-image: url(/images/about_us/aboutus2-tablet@1x.jpg);
  background-size: 330px 235px;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(/images/about_us/aboutus2-tablet@2x.jpg);
  }

  @include for-desktop-up {
    width: 270px;
    height: 445px;
    background-image: url(/images/about_us/aboutus2-pc@1x.jpg);
    background-size: 270px 445px;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/images/about_us/aboutus2-pc@2x.jpg);
    }
  }
}
