.address {
  padding: 84px 0px;
}

.address__title {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--white-text-color);

  margin-bottom: 40px;
}

.address-form__link {
  display: flex;
  align-items: center;
  @include font(400, 14px, 1.66, 0.02em, var(--grey-text-color));

  @include for-phone-up {
    @include font(400, 18px, 1.66, 0.02em, var(--grey-text-color));
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &:last-child {
    margin-bottom: 44px;
  }
}

.address-form__icon {
  margin-right: 16px;
}

.address__subtitle {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--white-text-color);

  margin-bottom: 20px;

  &::before {
    content: '';
    width: 60px;
    height: 1px;
    background-color: var(--text-color-form);

    display: flex;
    margin-right: 20px;
  }
}

.address__time {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;

  color: var(--grey-text-color);
}

.background-address {
  // max-width: 480px;
  // height: 496px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;

  background-image: linear-gradient(
      to right,
      var(--background-color-img),
      var(--background-color-img)
    ),
    url(/images/background/back_footer_480.jpg);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        var(--background-color-img),
        var(--background-color-img)
      ),
      url(/images/background/back_footer_960.jpg);
  }

  @include for-tablet-up {
    max-width: 1199px;
    background-image: linear-gradient(
        to right,
        var(--background-color-img),
        var(--background-color-img)
      ),
      url(/images/background/back_footer_768.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          var(--background-color-img),
          var(--background-color-img)
        ),
        url(/images/background/back_footer_1536.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(
        to right,
        var(--background-color-img),
        var(--background-color-img)
      ),
      url(/images/background/back_footer_desctop_625.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          var(--background-color-img),
          var(--background-color-img)
        ),
        url(/images/background/back_footer_desctop_1250.jpg);
    }
  }
}
