.advantages-list {
}

.advantages-list__item {
  width: 193px;
  height: 133px;
  background-color: #f7f7f7;
}

.advantages-list__pretitle {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--title-text-color);
}

.advantages-list__subtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--title-text-color);
}
