.header {
  position: absolute;
  width: 100%;
}

.header-nav {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.header-nav-list,
.header-nav-contacts,
.header-links {
  display: none;
}

@include for-tablet-up {
  .mobile-menu {
    display: none;
  }

  .header-nav-list {
    display: flex;
    margin-left: 54px;
  }

  .header-nav-list__item {
    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  .header-nav-list__link {
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.05em;
    color: var(--white-text-color);
    @include transition;

    &:hover,
    &:focus {
      color: var(--accent-color-btn);
    }
  }

  .header-nav-contacts {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    @include for-desktop-up {
      flex-direction: row-reverse;
      align-items: baseline;
    }
  }

  .header-nav-contacts__btn {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    background-color: transparent;
    margin-bottom: 20px;

    color: var(--white-text-color);

    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 40px;
    border: 1px solid var(--border-color-accent);
    border-radius: 25px;
    @include transition($element: background-color);

    &:hover,
    &:focus {
      background-color: var(--accent-color-btn);
    }

    @include for-desktop-up {
      margin-left: 40px;
    }
  }

  .header-nav-contacts__phone {
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--white-text-color);
    @include transition;

    &:hover,
    &:focus {
      color: var(--accent-color-btn);
    }
  }

  .header-links {
    position: absolute;
    top: 416%;
    left: -7.2%;
    display: flex;
    transform: rotate(270deg);
    align-items: center;

    &::before {
      @include pseudo($marginRight: 0px);
    }
  }

  .header-links__item {
    margin-left: 40px;
  }

  .header-links__item-link {
    color: inherit;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
  }
}
