.header {
  position: absolute;
  width: 100%;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
}

@include for-tablet-up {
  .mobile-menu {
    display: none;
  }
}
