.background-sign {
  background-color: var(--background-color-contact);
  @include for-desktop-up {
    width: 50%;
  }
}

.sign-up {
  padding: 84px 0px;
}

.sign-up__title {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--white-text-color);

  margin-bottom: 44px;
}

.sign-up__input {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--text-color-form);

  width: 100%;
  height: 24px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--border-color-form);
  margin-bottom: 44px;
}

.sign-up__textarea {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--text-color-form);

  width: 100%;
  height: 76px;
  resize: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--border-color-form);
  margin-bottom: 44px;
}

.sign-up__btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin: 0px auto;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 40px;
  border: 1px solid var(--border-color-accent);
  border-radius: 25px;
  background-color: transparent;
}
