.table-wrapper {
  padding: 30px;
  background-color: rgb(36, 35, 35);
}

.table-wrapper__item {
  font-family: var(--primary-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.02em;
  color: var(--grey-text-color);
  text-align: left;
  border-collapse: separate;
  width: 100%;

  @include for-tablet-up {
    font-size: 18px;
    line-height: 1.66;
  }
}

.table-wrapper__td-title {
  // display: flex;
  align-items: baseline;
  text-align: start;
  &::after {
    @include pseudo($width: 100%, $color: rgba(157, 164, 189, 0.12));
  }
}

.price-background-img {
  margin-left: auto;
  margin-right: auto;
  background-size: cover;

  background-image: linear-gradient(
      to right,
      var(--background-color-img),
      var(--background-color-img)
    ),
    url(../images/back-price/back-price-mob@2x.jpg);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        var(--background-color-img),
        var(--background-color-img)
      ),
      url(../images/back-price/back-price-mob@3x.jpg);
  }
}
