.table-wrapper {
  padding: 30px;
  background-image: linear-gradient(
    to bottom,
    rgba(23, 26, 36, 0.3),
    rgba(194, 199, 216, 0.1)
  );
}

.table-wrapper__item {
  font-family: var(--primary-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.02em;
  color: var(--grey-text-color);
  text-align: left;
  border-collapse: separate;
  width: 100%;

  @include for-tablet-up {
    font-size: 18px;
    line-height: 1.66;
  }
}

.table-wrapper__td-title {
  // display: flex;
  align-items: baseline;
  text-align: start;
  &::after {
    @include pseudo($width: 100%, $color: rgba(157, 164, 189, 0.12));
  }
}
