a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: black;
}

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
