.container {
  margin: 0 auto;
  padding: 0px 31px;

  @include for-phone-up {
    padding: 0px 31px;
  }

  @include for-tablet-up {
    padding: 0px 40px;
  }

  @include for-desktop-up {
    padding: 0px 15px;
  }
}

.container-position {
  @include for-tablet-up {
    padding-left: 130px;
  }
}
