.container {
  margin: 0 auto;
  padding: 0px 30px;

  @include for-phone-up {
    padding: 0px 30px;
  }

  @include for-tablet-up {
    padding: 0px 40px;
  }

  @include for-desktop-up {
    padding: 0px 15px;
  }
}
