.container {
  margin: 0 auto;

  @include for-phone-small {
    padding: 0px 20px;
  }

  @include for-phone-bigger {
    padding: 0px 31px;
  }

  @include for-tablet-up {
    padding: 0px 40px;
  }

  @include for-desktop-up {
    padding: 0px 15px;
  }
}
