:root {
  // text
  --white-text-color: #ffffff;
  --grey-text-color: #9da4bd;
  --grey60-text-color: rgba(157, 164, 189, 0.6);
  --title-text-color: #303030;
  --content-text-color: #555555;
  --decor-text-color: #ff6c00;
  --text-color-form: rgba(157, 164, 189, 0.4);
  //   font
  --primary-font: 'Open Sans', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  // background-color
  --background-color: #f7f7f7;
  --secondary-background-color: #ffffff;
  --background-color-contact: #191c26;
  // button-color
  --accent-color-btn: #ff6c00;
  --background-color-img: rgba(25, 28, 38, 0.9);
  // border
  --border-color-form: rgba(157, 164, 189, 0.4);
  --border-color-accent: #ff6c00;
}
