:root {
  // text
  --white-text-color: #ffffff;
  --grey-text-color: #9da4bd;
  --grey60-text-color: rgba(157, 164, 189, 0.6);
  --title-text-color: #303030;
  --content-text-color: #555555;
  --decor-text-color: #ff6c00;
  //   font
  --primary-font: 'Open Sans', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  // decoration color
  --border-color: #ff6c00;
}
